format = """
$directory\
$git_branch\
$git_status\
$line_break\
$character\
"""

[python]
disabled = true

[container]
disabled = true

[terraform]
disabled = true

[package]
disabled = true

[docker_context]
disabled = true
